<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to X Scheduled Posts </h1>
</div>

<%= button_to "Connect X", "/auth/twitter", data: { turbo: false }, local: true, method: :post, class: "btn btn-primary" %>

