<div class="container">

    <!-- Scheduled Posts Section -->
    <% if @scheduled_posts.any? %>
        <div class="mb-4">
            <h2 class="mb-3">Scheduled Posts</h2>
            <div class="row">
                <%= render partial: 'post_card', collection: @scheduled_posts, as: :tweet, locals: { type: 'scheduled' } %>
            </div>
        </div>
    <% end %>

    <!-- Past Posts Section -->
    <% if @past_posts.any? %>
        <div>
            <h2 class="mb-3">Past Posts</h2>
            <div class="row">
                <%= render partial: 'post_card', collection: @past_posts, as: :tweet, locals: { type: 'past' } %>
            </div>
        </div>
    <% end %>

</div>
